<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tomsapps.vertretungsplanapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PREVENT_POWER_KEY"/>

    <application
        android:name=".core.VertretungsplanApp"
        android:hasCode="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Martineum Vertretungsplan App"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="de.tomsapps.vertretungsplanapp.gui.MainActivity" />

        <activity
            android:name=".gui.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.webkit.WebView.MetricsOptOut"
                       android:value="true" />
        </activity>

        <activity
            android:name="de.tomsapps.vertretungsplanapp.gui.PreferencesActivity"

            android:parentActivityName="de.tomsapps.vertretungsplanapp.gui.MainActivity" >
        </activity>

        <activity
            android:name="de.tomsapps.vertretungsplanapp.gui.InfoActivity"

            android:parentActivityName="de.tomsapps.vertretungsplanapp.gui.PreferencesActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tomsapps.vertretungsplanapp.gui.PreferencesActivity" />
        </activity>
    </application>
</manifest>
