<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tomsapps.vertretungsplanapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Core.VertretungsplanApp"
        android:hasCode="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Martineum Vertretungsplan App"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GUI.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
